{{#block "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Administracion Rescate de Patitas</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/fontawesome-all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="css/admin/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="css/admin/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="css/admin/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/admin/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="css/admin/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="css/admin/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="css/admin/summernote-bs4.min.css">

  <link rel="stylesheet" href="css/admin/bootstrap-duallistbox.css">

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body class="dark-mode hold-transition sidebar-mini">
<div class="wrapper">
<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item dropdown-footer">Log out</a>
        </div>
      </li>
    </ul>
</nav>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <span class="brand-text font-weight-light">Rescate de Patitas</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Bienvenido {{adminNombre}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/listaUsuarios" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Usuarios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/listaVoluntarios" class="nav-link">
              <i class="nav-icon fas fa-hands-helping"></i>
              <p>
                Voluntarios
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/listadoOrganizaciones" class="nav-link">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                Organizaciones
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/listaCaracteristicas" class="nav-link">
              <i class="nav-icon fas fa-address-card"></i>
              <p>
                Caracteristicas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/listaPublicaciones" class="nav-link">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>
                Publicaciones
              </p>
            </a>
          </li>
          <li class="nav-item">
          <a href="/listaPreguntas" class="nav-link">
              <i class="nav-icon fas fa-question-circle"></i>
              <p>
                Preguntas
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{{/block}}

{{#block "content"}}
{{/block}}

{{#block "footer"}}
<div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title eliminacion_modal--title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Estas seguro que queres eliminar?</p>
          </div>
              <div class="modal-footer justify-content-between">
                 <form id="deleteModalForm" method="">
                     <input type="hidden" class="eliminacion_modal--id" value="">
                     <input type="hidden" class="eliminacion_modal--url" value="">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                     <button type="submit" class="btn btn-primary">Continuar</button>
                 </form>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="/home">Rescate de Patitas</a>.</strong>
    All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>

<script>
        jQuery(document).ready(function($) {
            $('[data-action="delete-modal"]').click(function() {
                var modal = $($(this).data("modal"));
                var id = $(this).data("id");
                var name = $(this).data("name");
                var url = $(this).data("url");

                modal.find('.eliminacion_modal--title').text("Eliminacion de " + name);
                modal.find('.eliminacion_modal--id').val(id);
                modal.find('.eliminacion_modal--url').val(url);
                modal.modal();
                return false;
            });


            $("#deleteModalForm").submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                var form = $(this);
                var url = form.find('.eliminacion_modal--url').val();
                var id = form.find('.eliminacion_modal--id').val();

                $.ajax({
                    type:"delete",
                    url: url + "/" + id,
                    success: function (respuesta) {
                        location.reload(true);
                    }
                });
            });

            $('[name=duallistbox_demo1]').bootstrapDualListbox();
        });
</script>
</body>
</html>
{{/block}}