<head>
    <title>Rescate de Patitas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active login_title"> Sign In </h2>
      <h2 class="inactive underlineHover login_title">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first userIcon" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfn92Uz0WoedKHZbOdgPrHJKS9lP90htuueQ&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action="/login" method="post">
        <input type="text" id="login" class="fadeIn second" name="nombreDeUsuario" placeholder="userName">
        <input type="password" id="password" class="fadeIn third" name="contrasenia" placeholder="Password" >
        <input type="text" id="login" class="fadeIn second" name="nombre" placeholder="name">
        <input type="text" id="login" class="fadeIn second" name="apellido" placeholder="apellido">
        <input type="date" id="login" class="fadeIn second" name="fechaNacimiento">
        <input type="text" id="login" class="fadeIn second" name="documento_id" placeholder="DNI">
        <!--Agregar un listDe TIPO DE DOC DNI,LC,PASS,CI-->
        <!--Agregar medios de contacto de forma dinamica-->
        <button type="submit"  class="fadeIn fourth">Log in</button>

      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu contrasenia?</a>
      </div>
  
    </div>
  </div>