<!DOCTYPE HTML>

<html>
<head>
    <title>Rescate de Patitas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/fontawesome.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="is-preload homepage">
<div id="page-wrapper">


<div id="header-wrapper">
    <header id="header" class="container">
        
        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Rescate de Patitas</a></h1>
            <span></span>
        </div>
        
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">Welcome</a></li>
                <li>
                    <a href="#">Mascotas</a>
                    <ul>
                        <li><a href="adopcionMasotas.html">Quiero adoptar</a></li>
                        <li><a href="darEnAdopcion.html">Quiero dar en adopcion</a></li>
                        <li><a href="registroMascota.html">Quiero registrar a mi mascota</a></li>
                        <li><a href="mascotaPerdida.html">Encontre una mascota perdida</a></li>
                        <li>
                            <a href="#">Sarasa</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Phasellus consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="left-sidebar.html">Admin</a></li>
            </ul>
        </nav>
        
    </header>
</div>
<div>
    <div class="adopcion_title">
        
        <h2>Queres adoptar una mascota?</h2>
        
        <h3>Mascotas</h3>
    </div>
    <!-- Features -->
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                        <div class="clearfix">
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                    <div class="item">
                                        <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                </div><!-- /carousel-inner -->
                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div> <!-- /thumbcarousel -->
                        </div><!-- /clearfix -->
                        <div class="inner">
                            <header>
                                <h2><name="publicacion1" id="publicacion1">Nombre de la mascota</h2>
                                <p>Descripcion de la mascota</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                        </div><!--inner -->
                        <div >
                            <button>Contactar</button>
                        </div>
                        
                    </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel2" class="carousel slide" data-ride="carousel2">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                        <div class="clearfix">
                            <div id="thumbcarousel2" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div data-target="#carousel2" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                    <div class="item">
                                        <div data-target="#carousel2" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel2" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                </div><!-- /carousel-inner -->
                                <a class="left carousel-control" href="#thumbcarousel2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#thumbcarousel2" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div> <!-- /thumbcarousel -->
                        </div><!-- /clearfix -->
                        <div class="inner">
                            <header>
                                <h2>Nombre de la mascota</h2>
                                <p>Descripcion de la mascota</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                        </div><!--box -->
                    </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                        <div class="clearfix">
                            <div id="thumbcarousel3" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div data-target="#carousel3" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                    <div class="item">
                                        <div data-target="#carousel3" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                        <div data-target="#carousel3" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    </div><!-- /item -->
                                    <
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel3" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel3" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                    <div class="clearfix">
                        <div id="thumbcarousel4" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel4" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                                <div class="item">
                                    <div data-target="#carousel4" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel4" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel4" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel4" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->

            </div><!-- row-->
               
                
                
        </div> <!-- outer -container-->
        <div class="container">
            <div class="row">
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                    <div class="clearfix">
                        <div id="thumbcarousel5" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel5" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                                <div class="item">
                                    <div data-target="#carousel5" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel5" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel5" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel5" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                    <div class="clearfix">
                        <div id="thumbcarousel6" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel6" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                                <div class="item">
                                    <div data-target="#carousel6" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel6" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel6" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel6" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                    <div class="clearfix">
                        <div id="thumbcarousel7" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel7" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                                <div class="item">
                                    <div data-target="#carousel7" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel7" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel7" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel7" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->
                <div class="col-3 col-12-medium">
                    <div class="box feature">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                                <div class="item">
                                    <img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg">
                                </div>
                            </div>
                        </div> 
                    <div class="clearfix">
                        <div id="thumbcarousel8" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div data-target="#carousel8" data-slide-to="0" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="1" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="2" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="3" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                                <div class="item">
                                    <div data-target="#carousel8" data-slide-to="4" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="5" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="6" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                    <div data-target="#carousel8" data-slide-to="7" class="thumb"><img src="https://www.eltiempo.com/files/image_640_428/uploads/2020/01/24/5e2b3d39116e4.jpeg"></div>
                                </div><!-- /item -->
                            </div><!-- /carousel-inner -->
                            <a class="left carousel-control" href="#thumbcarousel8" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#thumbcarousel8" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div> <!-- /thumbcarousel -->
                    </div><!-- /clearfix -->
                    <div class="inner">
                        <header>
                            <h2>Nombre de la mascota</h2>
                            <p>Descripcion de la mascota</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                    </div><!--box -->
                </div>
                </div> <!-- col-sm -->

            </div><!-- row-->
        </div>
    </div>

</div>
</div>
</body>
</html>