<head>
    <title>Rescate de Patitas</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active login_title"> Sign In </h2>
      <h2 class="inactive underlineHover login_title">Sign Up </h2>
  
      <!-- Icon -->
      <div class="fadeIn first userIcon" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfn92Uz0WoedKHZbOdgPrHJKS9lP90htuueQ&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu contrasenia?</a>
      </div>
  
    </div>
  </div>